<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Reticule</title>

<link rel="stylesheet" type="text/css" href="reticule.css" />
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="reticule.js"></script>

</head>
<body>

<nav>
    <div class="inner">

    </div>
</nav>

<main>
    <div class="inner">

    </div>
</main>

</body>
</html>
