<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Reticule</title>

<link rel="stylesheet" type="text/css" href="reticule.css" />
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ["\\(", "\\)"]],
            processEscapes: true
        }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="reticule.js"></script>

</head>
<body>

<nav>
    <div class="inner">
        <h1><a href="#">Loading reticule&hellip;</a></h1>
        <ol></ol>
    </div>
</nav>

<main>
    <div class="inner">

    </div>
</main>

</body>
</html>
