@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300');

/**
 * Layout
 */

* { margin: 0; padding: 0; }

nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 234px;
        overflow-y: auto;
        background: #F2F5F0;
        font-size: .8em;
    }
    nav .inner {
        padding: 1px 20px;
    }
    nav h1 {
        margin: 2.9em 0 1em;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    nav a {
        color: #7A7A7A;
        text-decoration: none;
    }
    nav h1 a { color: #333; }
    nav > .inner > ol { margin-left: 0 }
    nav ol { list-style: none; }
nav ol li { margin: 1em 0; }

main {
        margin-left: 234px;
    }
    main .inner {
        margin: 0 auto;
        padding: 1px 20px;
        max-width: 731px;
    }
    main article {
        margin: 0;
        margin-left: -20px;
        overflow: hidden;
        padding: 20px;
        width: 100%;
    }
    main h1 + article {
        padding-top: 1px;
}

/**
 * Typography
 */

body {
    font: 112%/1.7 'Lato', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4, h5, h6 { font-size: 1em; }

.meta {
    margin-top: -2.5em;
    opacity: .8;
}

ol {
        list-style: lower-roman;
    }
    ol.toc, ol.toc ol {
        margin-top: 0;
        margin-bottom: 0;
        list-style: square;
}

ul {
    list-style: square;
}

ol, ul {
    margin-left: 1em;
}

.label {
    float: left;
    padding-right: 1em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.math { text-align: center; }
.qed { float: right; }

a { color: #327CCB; }
a:hover { color: #555; }
