@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300');

/**
 * Layout
 */

* { margin: 0; padding: 0; }

nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 234px;
        overflow-y: auto;
        background: #F2F5F0;
        font-size: .8em;
    }
    nav::after {
        content: ' ';
        display: block;
        position: fixed;
        height: 6em;
        bottom: 0;
        left: 0;
        width: 234px;
        background: linear-gradient(rgba(242, 245, 240, 0), rgba(242, 245, 240, 1));
        pointer-events: none;
    }
    nav .inner {
        padding: 1px 20px 6em;
    }
    nav h1 {
        margin: 2.9em 0 1em;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    nav a, nav a:hover {
        color: #7A7A7A;
        text-decoration: none;
    }
    nav h1 a, nav h1 a:hover { color: #333; }
    nav ol { list-style: none; }
    nav ol li { margin: 1em 0; }
    nav ol ol { margin-left: 10px; }
    nav li.current a {
        color: #533;
        border-bottom: 1px solid #533;
}

main, footer {
        margin-left: 234px;
    }
    main .inner, footer .inner {
        margin: 0 auto;
        padding: 1px 40px;
        max-width: 731px;
    }
    main article {
        margin: 0;
        margin-left: -40px;
        padding: 20px 40px;
        width: 100%;
        clear: both;
    }
    main article:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    main article article, main article article:not(:last-child) {
        background: rgba(0, 0, 0, .05);
        border: none;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    main h1 + article {
        padding-top: 1px;
}

footer {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: .8em;
    opacity: .8;
}

/**
 * Typography
 */

body {
    font: 112%/1.7 'Lato', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4, h5, h6 { font-size: 1em; }

.meta {
    margin-top: -2.5em;
    opacity: .8;
}

ol {
        list-style: lower-roman;
    }
    ol .roman {
        display: block;
        float: left;
        margin-left: -40px;
        padding-right: 10px;
        width: 30px;
        text-align: right;
}

ul {
    list-style: square;
}

ol ol, ul ul, ol ul, ul ol {
    margin-left: 40px;
}

.toc ul, .toc ol {
    margin-top: 0;
    margin-bottom: 0;
}

.label {
    float: left;
    margin-right: 40px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.math { text-align: center; }
.qed { float: right; }

a { color: #327CCB; }
a:hover { color: #555; }
