@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');

span.math::before {
    content: ' ';
    display: inline-block;
}

.MathJax_Preview { opacity: .7; }

.macros {
    position: absolute;
    left: -9999em;
    top: -9999em;
    height: 0;
    width: 0;
    overflow: hidden;
}

/**
 * Layout
 */

* { margin: 0; padding: 0; }

nav, main, section, article {
    display: block;
}

nav {
        position: fixed;
        border-right: 16px solid #F2F2F2;
        left: 0;
        top: 0;
        height: 100%;
        width: 234px;
        overflow-y: auto;
        background: #F2F2F2;
        font-size: .8em;
        z-index: 1;
    }
    .dark nav {
        background: #2D2D2D;
        border-color: #2D2D2D;
    }
    .nosidebar nav, .nosidebar nav::after { left: -234px; }
    nav .inner {
        padding: 1px 20px 1.9em;
    }
    nav h1 {
        margin: 2.9em 0 1em;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    nav a, nav a:hover {
        color: #7A7A7A;
        text-decoration: none;
    }
    .dark nav a, .dark nav a:hover { color: #aaa; }
    nav h1 a, nav h1 a:hover { color: #333; }
    .dark nav h1 a, .dark nav h1 a:hover { color: #ddd; }
    nav .toc { list-style: none; }
    nav .toc li { margin: 1em 0; }
    nav .toc ol { margin-left: 10px; }
    nav .toc li a.current {
        color: #533;
        border-bottom: 1px solid #533;
    }
    .dark nav .toc li a.current {
        color: #A88;
        border-color: #A88;
}

main, footer {
        border-left: 16px solid #F2F2F2;
        margin-left: 234px;
    }
    .dark main, .dark footer {
        border-color: #2D2D2D;
    }
    .nosidebar main, .nosidebar footer {
        margin-left: 0;
    }
    main .inner, footer .inner {
        margin: 0 auto;
        padding: 1px 60px;
        max-width: 700px;
    }
    main article {
        position: relative;
        border-bottom: 1px solid #ccc;
        margin: 0;
        margin-left: -50px;
        padding: 20px 50px;
        width: 100%;
        overflow: hidden;
    }
    .dark main article {
        border-color: #555;
    }
    main article .close, main article .min {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 32px;
        width: 32px;
        color: #333;
        font-size: .8em;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
    }
    main article .min { font-size: 1em; }
    .dark main article .close, .dark main article .min { color: #ddd }
    main article .close:hover {
        background: #E81123;
        color: white;
    }
    main article .min:hover {
        background: {{accent}};
        color: white;
    }
    main article article {
        background: rgba(0, 0, 0, .05);
        border: none;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    main article article.hide, .dark main article article.hide {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;
    }
    main article article.hide > * { display: none; }
    main article article.hide::before {
        content: '…';
        padding: 0 7px 2px 7px;
        background: rgba(0, 0, 0, .05);
    }
    main article article.hide:hover::before {
        background: rgba(0, 0, 0, .1);
    }
    .dark main article article,
    .dark main article article.hide::before {
        background: rgba(255, 255, 255, .05);
    }
    .dark main article article.hide:hover::before {
        background: rgba(255, 255, 255, .1);
    }
    main article article > ol, main article article > ul {
        margin-left: 0;
    }
    main h1 + article {
        padding-top: 1px;
}

.togglenav {
        display: block;
        position: fixed;
        left: 234px;
        top: 50%;
        margin-top: -8px;
        height: 32px;
        width: 16px;
        background: #F2F2F2;
        color: #7A7A7A;
        font-size: .8em;
        line-height: 32px;
        text-decoration: none;
        text-align: center;
        z-index: 1;
    }
    .dark .togglenav {
        background: #2D2D2D;
        color: #aaa;
    }
    .togglenav:hover {
        background: #7A7A7A;
        color: #F2F2F2;
    }
    .dark .togglenav:hover {
        background: #aaa;
        color: #2D2D2D;
    }
    .togglenav::before {
        content: '❮';
    }
    .nosidebar .togglenav {
        left: 0;
    }
    .nosidebar .togglenav::before {
        content: '❯';
}

.proof.hide {
        cursor: pointer;
    }
    .proof.hide > * {
        display: none;
    }
    .proof.hide::before {
        content: '…';
        padding: 0 7px 2px 7px;
        background: rgba(0, 0, 0, .05);
    }
    .proof.hide:hover::before {
        background: rgba(0, 0, 0, .1);
    }
    .dark .proof.hide::before {
        background: rgba(255, 255, 255, .05);
    }
    .dark .proof.hide:hover::before {
        background: rgba(255, 255, 255, .1);
}

footer {
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: .8em;
        text-align: right;
    }
    footer .inner {
        opacity: .8;
}

.palette {
        position: absolute;
        margin: 0;
        list-style: none;
        background: #333;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
        color: #eee;
        opacity: 0;
        transition: .2s opacity;
        white-space: nowrap;
    }
    .dark .palette {
        background: #eee;
        color: #333;
    }
    .palette li {
        display: inline-block;
        margin: 0;
    }
    .palette a.index {
        display: inline-block;
        margin: 0;
        padding: 5px 10px;
        color: #eee;
        text-decoration: none;
    }
    .palette a:hover {
        background: {{accent}};
        color: white;
    }
    .dark .palette a { color: #333; }
    .palette::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -7px;
        border-top: 7px solid #333;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
    .dark .palette::after {
        border-top: 7px solid #eee;
}

/**
 * Typography
 */

body {
        font: 110%/1.7 'Lato', sans-serif;
        color: #333;
    }
    body.dark {
        background: #222;
        color: #ddd;
}

article {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6, p, section.proof, ul, ol {
    margin: 1em 0;
}

li, main .toc article li, main .index article li {
    margin: .5em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4, h5, h6 { font-size: 1em; }

.meta, h1 + .nav { margin-top: -2.5em; }
.meta { opacity: .8; }

.nav {
        overflow: hidden;
        cursor: default;
    }
    .nav .prev {
        float: left;
        margin-right: 5px;
    }
    .nav .next {
        float: right;
        margin-left: 5px;
    }
    .nav a { text-decoration: none; }
    .nav a:hover { text-decoration: underline; }
    .nav li { display: inline; }
    .nav li a, .nav li span { padding: 0 5px; }
    .nav li span { opacity: .3; }
    .nav li a:hover {
        background: {{accent}};
        color: white;
        text-decoration: none;
}

.alpha a {
        display: block;
        height: 1em;
        width: 1em;
        padding: .15em;
        overflow: hidden;
        background: {{accent}};
        color: white;
        font-weight: normal;
        line-height: 1em;
        text-decoration: none;
    }
    .alpha a:hover {
        color: white;
}

ol {
        list-style: lower-roman;
    }
    ol .roman {
        display: block;
        float: left;
        margin-left: -50px;
        padding-right: 10px;
        width: 40px;
        text-align: right;
}

ul {
    list-style: square;
}

ol ol, ul ul, ol ul, ul ol {
    margin-left: 50px;
}

.toc li, .index li, .toc li > ul, .toc li > ol,
.index li > ul, .index li > ol {
    margin-top: 0;
    margin-bottom: 0;
}

a.index {
    font-size: .8em;
    margin-left: 5px;
}

.label {
        float: left;
        margin-right: 40px;
        color: #333;
        font-weight: bold;
        text-decoration: none;
    }
    .dark .label { color: #ddd; }
    em.label {
        font-weight: normal;
}

.qed {
    text-align: right;
    margin-top: -1em;
    margin-bottom: 0;
}

a { color: {{accent}}; }
a:hover { color: #555; }
.dark a:hover { color: white; }

/**
 * Mobile
 */

@-ms-viewport{
    width: device-width;
}

@media screen and (max-width: 700px) {
    nav, .togglenav { display: none; }

    main, footer {
        margin-left: 0;
        border: none;
    }

    main .inner, footer .inner { padding: 1px 20px; }

    main article {
        padding: 20px;
        margin-left: -20px;
    }

    ol, ul, main article article > ol, main article article > ul { margin-left: 30px; }
}
